<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Matt's Profile</h5>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Flight </label>
                  <input class=" form-control" disabled="" placeholder="Company" type="text" value="Flight 1" />
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Squad </label>
                  <input class=" form-control" disabled="" placeholder="Company" type="text" value="Squad 4" />
                </div>

              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input class=" form-control" placeholder="mike@email.com" type="email" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input class=" form-control" placeholder="Company" type="text" value="Mike" />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input class=" form-control" placeholder="Last Name" type="text" value="Andrew" />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                  <div class=" form-group">
                    <label> Phone Number </label>
                    <input class=" form-control" placeholder="Company" type="text" value="555-555-5555" />
                  </div>
                </div>
            </div>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-jhkon-DmI12zciGUIckLI6cfSA5kmCmJ-p3LwCeD9XoBrg/viewform" target="_blank" class="btn btn-default btn-lg">Submit Waiver</a>
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <a href="https://docs.google.com/spreadsheets/d/1irThE_7nEFtMEf7jtvXBtIeDHdtkic3sLRT8QX6SZKM/edit#gid=0" target="_blank" class="btn btn-default btn-lg">Wing Chart</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5" align="center">
              <div class="row">
                  <div class="col-md-6">
                      <h4>PT Progress</h4>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-1">
                    <p align="center">90%</p>
                  </div>
                  <div class="col-md-4">
                    <mat-progress-spinner mode="determinate" value="90"></mat-progress-spinner>
                  </div>
                </div>
          </div>
          <br>
          <div class="col-md-5" align="center">
            <div class="row">
              <div class="col-md-6">
                  <h4>LLAB Progress</h4>
                </div>
            </div>
                <div class="row">
                  <div class="col-md-1">
                    <p align="center">60%</p>
                  </div>
                  <div class="col-md-4">
                    <mat-progress-spinner mode="determinate" value="60"></mat-progress-spinner>
                  </div>
                </div>
            </div>
        </div>
        <div class=" card-footer">
          <br>
        </div>
      </div>
    </div>
  </div>
</div>